src/*.exe
src/threeitcoin
src/threeitcoind
src/test_threeitcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.threeitcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
threeitcoin-qt
Threeitcoin-Qt.app

# Unit-tests
Makefile.test
threeitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
